{% extends 'base.html.twig' %}
{% block title %}{{ mode == 'new' ? 'Nouvelle t창che' : 'Modifier t창che' }}{% endblock %}
{% block body %}
<div class="container py-4">
  <h1 class="h4 mb-3">{{ mode == 'new' ? 'Nouvelle t창che' : 'Modifier t창che' }}</h1>
  {{ form_start(form) }}
    <div class="row g-3">
      <div class="col-md-6">{{ form_row(form.name) }}</div>
      <div class="col-md-6">{{ form_row(form.actors) }}</div>
      <div class="col-md-4">{{ form_row(form.startDate) }}</div>
      <div class="col-md-4">{{ form_row(form.endDate) }}</div>
      <div class="col-md-4">{{ form_row(form.hoursPlanned) }}</div>
      <div class="col-md-6">{{ form_row(form.status) }}</div>
    </div>
    <button class="btn btn-primary mt-3">Enregistrer</button>
    <a href="{{ path('projets_index') }}" class="btn btn-outline-secondary mt-3">Annuler</a>
  {{ form_end(form) }}
</div>
{% endblock %}
